@import "tailwindcss";

:root {
  /* --background: #ffffff;
  --foreground: #171717; */
  --background: #ffffff;
  --foreground: #0b0b0b;
  --border: #00000014;
  --input: #f7f7f8;
  --primary: #6b7c8e;
  --primary-foreground: #ffffff;
  --secondary: #f2f4f6;
  --secondary-foreground: #222222;
  --muted: #f3f4f6;
  --muted-foreground: #8c8c8c;
  --success: #e6f4ea;
  --success-foreground: #1e5638;
  --accent: #5b7285;
  --accent-foreground: #ffffff;
  --destructive: #fbeaea;
  --destructive-foreground: #7a1e1e;
  --warning: #fff6e6;
  --warning-foreground: #6a4b00;
  --card: #ffffff;
  --card-foreground: #111111;
  --sidebar: #fbfcfd;
  --sidebar-foreground: #222222;
  --sidebar-primary: #e9eef3;
  --sidebar-primary-foreground: #16202a;
  --radius-sm: 4px;
  --radius-md: 6px;
  --radius-lg: 8px;
  --radius-xl: 12px;
  --font-family-body: Inter;
}

.container {
  width: 100%;
  padding: 0 1.25rem;
  /* margin: 0 auto */
}

@media (min-width: 768px) {
  .container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 2rem;
  }
}

@media (max-width: 402px) {
  .container {
    /* max-width: 1280px; */
    /* margin: 0 auto; */
    padding: 0 0.75rem;
  }
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
